* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 16px;

}

header {
  text-align: center;
  margin-bottom: 20px;
}

.card-container {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.card {
  flex: 1;
  min-width: 250px;
  padding: 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
  text-align: center;
}
.card:hover{
    background-color: aqua;

}