
body{
    background-image: url(https://plus.unsplash.com/premium_photo-1683910767532-3a25b821f7ae?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8ZnJlZSUyMGltYWdlc3xlbnwwfHwwfHx8MA%3D%3D);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
header{
        background: linear-gradient(to left, #c43737, #8b7e2e);
        font-family: "press start 2p", cursive;
        background-color: #ded29a;
        padding: 10px;
        text-align: center;
        border-radius: 70px;
}
h2{ 
    ;
    background-color: violet;
    padding: 20px;
    text-align: center;
    color: blue;
    border-radius: 40px;

}
h3{
    background-color: rgb(69, 219, 224);
    padding: 20px;
    text-align: center;
    color: rgb(209, 27, 27);
    border-radius: 40px;
}

p{
    font-size: 20px;
    font-style: italic;
    font-family: "fantasy", cursive;
    text-decoration: dotted underline;
    text-align: center;
    padding: 10px;
    margin: 10px;
    border: 2px solid black;
    border-radius: 40px;
}
#p1{
    color: blue;
}
#p2{
    color: red;
}
#p3{
    color: blue;
}
#p4{
    color: red;
}

.odd{
    background-color: rgb(191, 180, 147);
}
.even{
    background-color: rgb(218, 250, 94);
}
.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    position: center;
    
}
button:hover {
    background-color: #a04545;
    content: "Hovered"; 
    display: block; 

}
button:hover::after{
    content: "No Please";
    
}