.app-container {
  padding: 20px;
  text-align: center;
  font-family: 'Arial', sans-serif;
}
.filter-buttons button{
  margin: 5px;
  padding: 6px 12px;
  cursor: pointer;
}

.product-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}

.product-card {
  width: 200px;
  padding: 15px;
  border-radius: 10px;
  background: #f4f4f4;
  box-shadow: 0 3px 8px rgba(0,0,0,0.1);
}
