body {
  font-family: Arial;
  padding: 20px;
}
#status {
  margin-bottom: 15px;
  font-weight: bold;
  color: #010101;
}
#users-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.card {
  border: 1px solid #ccc;
  padding: 15px;
  width: 250px;
  border-radius: 8px;
}
